* {
	box-sizing: border-box;
}

body{
	margin-top: 63px;
}

/* Main Home Banner and Input Search Container r*/
.home-banner {
	/* "../" for back to main folder */
	background-image: url(file:///C:/Users/nitin/Downloads/WhatsApp%20Image%202022-04-02%20at%201.23.44%20PM.png);
	background-size: cover;
	background-repeat: round;
	height: 450px;
}
.bg-danger {
    background-color: #000000!important;
}

.input-search-container {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
}

.inputIcon {
	position: absolute;
	left: 5px;
	font-size: 25px;
	vertical-align: middle;
	color: rgb(0, 0, 0);
}

.inputForm {
	width: 225px;
	height: 40px;
	padding-left: 28px;
}

.inputLabel-default {
	position: absolute;
	left: 30px;
	color: rgb(4, 0, 0);
	font-weight: 350;
	font-size: 15px;
	margin-top: 8px;
	transition-duration: 0.3s;
}
	.inputLabel-focusIn {
		position: absolute;
		left: 30px;
		color: #000000;
		font-size: 10px;	
		margin-top: 1px;
	}

/* Coupons Container */
.holiday-coupon-container {
	width: 540px;
	position: absolute;
	left: 30%;
	right: 30%;
	top: -4em;
}
	.holiday-coupon-container > .d-table-cell {
		height: 100px;
	}

/* Cashback Container */
.cashback-container > div {
	transition: transform .2s;
}
	.cashback-container > div:hover {
		transform: scale(1.05);
	}

/* Introducing On-Time Guarantee & Track My Bus Container
	& IOS/Android Container & We Promise To Deliver Container */
.on-time-guarantee,
.track-my-bus,
.ios-android-container .d-flex,
.we-promise-container > div:nth-child(2) {
	margin: 0 auto;
	max-width: 1200px;
}
	.track-my-bus .d-table-cell {
		height: 260px;
	}

/* Convenience On-The-Go IOS/Android Container */
.ios-android-container > div::after {
	content: "";
	background-image: url(https://i.postimg.cc/MK7ZzDzX/city-scape-app-download.png);
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.text-danger {
    color: #000000!important;
}
.btn-danger {
    color: rgb(255, 255, 255);
    background-color: #212529;
    border-color: #212529;
}
.home-banner {
    background-image: url(https://d1k1db78vs1yjx.cloudfront.net/imgs/gallery/collegemarg-gimg7484-1618895798.jpg);
    background-size: cover;
    background-repeat: round;
    height: 600px;
	width : 1600px;
}
.btn-danger {
    color: rgb(254, 254, 254);
    background-color: #010101;
    border-color: rgb(0 0 0 / 80%);
}